@font-face {
    font-family:"Heart Breaking Bad";
    src:url("Heart_Breaking_Bad.eot?") format("eot"),url("Heart_Breaking_Bad.woff") format("woff"),url("Heart_Breaking_Bad.ttf") format("truetype"),url("Heart_Breaking_Bad.svg#HeartBreakingBad") format("svg");font-weight:normal;font-style:normal;

    }
    html, body {
        height: 100%;
    }    

body {
    background: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    text-align: center;
    box-sizing: border-box;
}

#gamebox {
    margin: 2% auto;        
    background: #D4DD31;    
    height: 99%;
    width: 960px;
    opacity: .7;
    }

    #sub-box{
        position: relative;
    }

    button{
        display:block;
        width:50%;
        height:20%;
        margin: 0 auto;
        border:none;
        cursor: pointer;
        background:transparent;
        font-size: 42px;;
      }

    img {
        height: 200px;
    }

h1 {
    font-family: "Heart Breaking Bad";
    font-size: 6.5em;
    font-weight: bold;
    padding-top: 2.5%;
}

h2{
    font-size: 35px;
    margin-bottom: 25px;
  }
  
  h3{
    font-size: 25px;
    margin-bottom: 10px;
  }

#start {
    margin-top: 10%;
    border: 2px solid brown;
    background: forestgreen;    
}

button:hover {
    border: 2px solid brown;
    background: forestgreen;
}
